<!DOCTYPE html>
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load static %}
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title></title>
      {% block staticfile %}

      {% endblock %}
      <link rel="stylesheet" href="{% static "/home/css/materialize.css" %}">
      <link rel="stylesheet" href="{% static "/home/css/materialize.min.css" %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    {% block  static %}

    {% endblock %}
  </head>
  <body>
    <nav class='navbar-fixed'>
      <div class="nav-wrapper indigo lighten-4">
        <div class='row' >
          <div class="col s12 m12 l12 ">
            <ul class='orange hide-on-med-and-below'>
              <li><div class="brand-logo left"><img src="{% static "images/elpa.jpeg" %}" class="responsive-img  circle" alt="electric utility" style='height:70px; width:80px;'></div></li>
              <li class='right' ><a href="#"><div class='chip'>Log In</div></a></li>
              <li class='right'><a href="#"><div class='chip'>Energy Meter</div></a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="">


    {% block body %}

    {% endblock %}
    <div class="container">
      {% block form %}

      {% endblock %}
    </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
  </body>
</html>
